* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(243, 201, 243);
  text-align: center;
}

main {
  width: 800px;
  text-align: left;
  background-color: rgb(100, 50, 150);
  border-radius: 8px;
  padding: 30px;
  margin: 30px auto 10px auto;
  color: white;
}

h1 {
  font-size: 60px;
  color: rgb(100, 50, 150);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}
img {
  width: 300px;
  margin: 20px;
}
h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
li {
  margin: 10px;
  list-style-type: none;
  padding: 0;
  padding-left: 20px;
}
p {
  margin-bottom: 20px;
}
button {
  padding: 8px 20px;
  background-color: yellow;
  border-color: yellow;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
}
a {
  text-decoration: none;
  color: black;
}
.hilist {
  padding-left: 15px;
  color: rgb(249, 195, 123);
  border-left: 5px solid rgb(249, 195, 123);
}
.hispan {
  padding: 0 3px;
  color: black;
  font-weight: bold;
  background-color: blanchedalmond;
  border-radius: 5px;
}
#last {
  font-size: 14px;
  color: grey;
}
